.details_contry{
    display: grid;
    width: 100%;
    justify-content:space-around;
    background: #fff;
}
.det_img{
    width: 70%;
    max-height: 450px;
    padding-right: 0px;
}
.cont_details{
    text-align: center;
    margin-top:0px;
    padding-right: 0px;

}
.border_lang{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #fff;
    border: 1px solid transparent;
}
.border{
    background: #fff;
    text-align: left;
    width: 100%;
    text-align: center;
}

.close_btnn{
    text-align: center;
    background: #fff;
}
.th{
    font-size:16px;
    font-weight:bold;
    color: #212f3d ;
}
.tdd{
    font-size:15px;
    font-weight:bold;
    color:  #633974 ;
}
.table{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}


@media screen and (max-width: 980px) {
    .details_contry{
        display: grid;
    }
    .det_img{
        width: 100%;
        padding-right: 0px;
    }
    .cont_details{
        text-align: center;
        margin-top:10px;
        padding-right: 0px;
    
    }
    
    
}